atomicwrites==1.2.1
attrs==18.2.0
awscli==1.10.65
botocore==1.4.55
Click==7.0
colorama==0.3.7
docutils==0.12
Flask==1.0.2
fpdf==1.7.2
funcsigs==1.0.2
futures==3.0.5
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.0
MarkupSafe==1.1.1
more-itertools==4.3.0
pathlib2==2.3.3
pbr==5.1.2
pluggy==0.8.0
py==1.7.0
pyasn1==0.1.9
pypng==0.0.18
pytest==4.0.1
python-dateutil==2.5.3
rsa==3.4.2
s3transfer==0.1.4
scandir==1.9.0
six==1.10.0
stevedore==1.30.0
virtualenv==16.3.0
virtualenv-clone==0.5.1
virtualenvwrapper==4.8.2
Werkzeug==0.15.1
requests>=2.20.0
websocket-client==0.47.0
numpy==1.16.2
pandas==0.24.2
python-Levenshtein==0.12.0
Flask-Cors==3.0.7
boto3>=1.0.0
